:root {
	--brand-color: #adff2f;
	--black: #000000;
	--dark-gray: #282828;
	--deep-blue: #141922;
	--white: #ffffff;
	--sidebar-width: 230px;
}

/* GENERAL STYLES */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    max-width:100%;
   
}
/* UTILITIES */
.viewport{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex-grow: 1;
    display: flex;
}
.player-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 0px
}
.main-content{
    flex-grow: 1;
}
.sidebar{
    flex-shrink: 0;
    width: var(--sidebar-width);
}
/* LAYOUT-PLAYER */
/* song-details */
.player-container .song-details{
    display: flex;
    align-items: center;
    gap: 10px;
    width: var(--sidebar-width) ;
    padding: 0 10px;
}
.song-album-image{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}
.song-album-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.song-info{
    flex-grow: 1;
}
/* layout-playback-controls */
.player-container .playback {
    width: 45%;
}

/* MEDIA QUERIES */
/* DESKTOP FIRST */


/* DEBUG */

.debug .container{
    border: 2px solid blue;
}

.debug .player{
    border: 2px solid green;
}

.debug .sidebar{
    border: 2px solid yellow;
}
.debug .main-content{
    border: 2px solid yellow;
}

.debug .song-details, .playback-controls, .volume-controls{
    border:2px solid black;
}
